.project_page {
    text-align: center;
    /* text-transform: capitalize; */
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}

img {
    max-height: 600px;
}

.preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 